.b{
	width: 700px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	float: left;
	padding-bottom: 10px;
}
.b h5{
	color: #729DA0;
	width: 680px;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
	float: left;
}
.b ul,.b ul li {
	width: 700px;
	float: left;
}
.b ul {
	margin-top: 10px;
}
.b li{
	float: left;
	margin-left: 15px;
	font-size: 13px;
	color: #48585E;
	height: 40px;
	line-height: 30px;
}
#content input[type='text']{
	width: 150px;
	height: 25px;
	padding-left: 3px;
	color:#48585E;
}
.bt {
	width: 62px;
	height: 22px;
	border: 0;
	background: url(../Images/bt_submit.png) no-repeat 0 0;
	background-size: 100% 400%; 
	margin-top: 3px;
	margin-left: 10px;
}
.bt:hover{
	background: url(../Images/bt_submit.png) no-repeat 0 66%;
	background-size: 100% 400%;
}
.changepass {
	display: none;
}
.sb label span{
	width: 100px;
	text-align: right;
	float: left;
}
.changepass input[type='submit']{
	margin-left: 120px;
}
#content .binfo .ct{
	background: url(../Images/index_city.png) no-repeat 0 0;
	background-size: 100% 100%;
	border: 1px solid #ccc;
	height: 30px;
	width: 180px;
	
}
#content .binfo .addr{
	height: 30px;
	margin-left: 20px;
	width: 200px;
}
#content b{
	color: red;
	margin-right: 3px;
}