.orderquery{
	width: 700px;
	height: 150px;
	background: #eee;
	float: left;
}
.orderquery >ul{
	margin-top: 10px;
}
.orderquery >ul> li {
	float: left;
	width: 700px;
	line-height: 35px;
}
.orderquery ul li label{
	text-align: right;
	width: 80px;
	color: #3B4949;
	font-size: 12px;
	display: inline-block;
}
.select {
	width: 82px;
	width: 84px\9;
	height: 20px;
	border: 1px solid #ccc;
	display: inline-block;
	position: relative;
	top: 6px;
}
.select input[type='text'] {
	width: 60px;
	height: 20px !important;
	height: 18px\9 !important;
	border: 0 !important;
	float: left;
	display: inline-block;
	margin: 0 !important;
	font-size: 13px;
	line-height: 20px;
	color: #555;
	padding-left: 3px;
}
.select span {
	width: 21px;
	height: 20px;
	border-left: 1px solid #ccc;
	float: left;
	background: #ddd;
	position: relative;
}
.select span:before{
	content: '';
	border: 5px solid transparent;
	border-top: 5px solid #fff;
	float: left;
	margin-top: 8px;
	margin-left: 6px;
}
.select span:hover{
	background: #6D9A9C;
}
.select span:hover .option{
	display: block;
}
.option{
	width: 81px;
	width: 84px\9;
	border: 1px solid #ccc;
	float: left;
	background: #fff;
	position: absolute;
	left: -62px;
	left: -64px\9;
	top: 20px;
	display: none;
	padding-bottom: 2px;
}
.option li {
	width: 78px;
	width: 71px\9;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	margin: 0;
	float: left;
	color: #555;
	padding-left: 3px;
}
.option li:hover {
	background: #6D9A9C; 
	color: #fff;
}
.keys {
	margin-left: 10px;
	border: 1px solid #ccc;
	height: 22px;
	width: 200px;
}
.querytime{
	width: 80px;
	font-size: 13px;
	height: 22px;
	border: 1px solid #ccc;
	text-align: center;
}
.orderquery ul li input[type='submit']{
	width: 53px;
    height: 20px;
    background: url(../Images/bt_submit.png) 0 -23px no-repeat;
    float: right;
    margin-top: 8px;
    margin-right: 20px;
    color: #7D6935;
}
.orderquery ul li input[type='submit']:hover{
    background: url(../Images/bt_submit.png) 0 -45px no-repeat;
}
#content table{
	width: 700px;
	float: left;
	margin-top: 30px;
	font-size: 12px;
	border-collapse:collapse;
}
#content thead td{
	background: #D5E8E9;
	color: #2D2D2D;
	padding: 5px 0;
	font-weight: bold;
}
#content td{
	text-align: center;
	border: 1px solid #709C9E;
	color: #49595F;
	padding: 10px 0;
}
#content td a{
	color: #0082CB;
	text-decoration: none;
}
#content td a:hover{
	text-decoration: underline;
}
.tips{
	float: left;
	padding-left: 20px;
	font-size: 12px;
	font-weight: bold;
	margin: 30px 150px;
	background: url(../Images/tips.png) 0 50% no-repeat;
}