.query-form {
	width: 700px;
	height: 100px;
	background: #eee;
	border-bottom: 2px solid #ddd;
	float: left;
}
.query-form form{
	margin: 30px;
}
.query-form input[type='text']{
	width: 200px;
	height: 32px;
	height: 27px\9;
	line-height: 30px;
	border: 1px solid #ddd;
	font-size: 13px;
	padding-left: 5px;
	float: left;
	background: url(../Images/index_city.png) top right no-repeat;
}
.query-form input[type='submit']{
	width: 102px;
	height: 32px;
	border: 0;
	float: left;
	margin-left: 20px;
	font-size: 13px;
	color: #2D2D2D;
	background: url(../Images/bt_submit2.png) top left no-repeat;
}
.query-form input[type='submit']:hover{
	background: url(../Images/bt_submit2.png) 0 100% no-repeat;
}
.query-form span.arrow{
	width: 13px;
	float: left;
	height: 32px;
	margin: 0 10px;
	background: url(../Images/arrow_search.png) 0 50% no-repeat;
}
.query-results {
	width: 700px;
	height: 300px;
	margin-top: 20px;
	float: left;
}
.query-results h4{
	color: #709C9E;
	border-left: 5px solid #FAAF19;
	padding-left: 10px;
}
.query-results table{
	width: 700px;
	float: left;
	margin-top: 10px;
	font-size: 12px;
	border-collapse:collapse;
}
.query-results thead td{
	background: #D5E8E9;
	color: #2D2D2D;
}
.query-results td{
	text-align: center;
	border: 1px solid #709C9E;
	color: #49595F;
	padding: 10px 0;
}
.query-results p{
	width: 700px;
	font-size: 12px;
	margin-top: 10px;
	float: left;
}
.notice{
	color: #0082CB;
	font-weight: bold;
}
.tips{
	color: #0082CB;
}
.tips span {
	color: #EB182C;
}