.jobinfo {
	width: 700px;
	float: left;
	margin-top: 20px;
}
.jobinfo table{
	width: 700px;
	float: left;
	border-spacing: 0;
}
.jobinfo table thead{
	background: #6D9A9C;
	color: #fff;
}
.jobinfo table thead td{
	padding-left: 10px;
	line-height: 30px;
	font-size: 15px;
	font-weight: bold;
}

.jobinfo table tbody td{
	padding-left: 10px;
	font-size: 14px;
	line-height: 30px;
	color: #aaa;
}
.jobinfo table tbody td a{
	color: #0082CB;
	text-decoration: none;
}
.jobinfo table tbody td a:hover{
	text-decoration: underline;
	color:#F9AE18;
}
.odd {
	background: #eee;
}